<div>
<form [formGroup]="bioSection" (ngSubmit)=" bioSection.reset(); ">

  <label>
    Name :
    <input type="text" formControlName="helperName">
  </label><br>
  <label>
    Contact No :
    <input type="text" formControlName="helperContact">
  </label><br>
    <label>
    City : 
    <input type="text" formControlName="helperCity">
  </label><br>  
  <label>
    State :
    <input type="text" formControlName="helperState">
  </label><br>  
  <label>
    Email :
    <input type="text" formControlName="helperEmail">
  </label><br>  
  <label>
    Address :
    <input type="text" formControlName="helperAddress">
  </label><br>
  <label>
    Descreption :
    <input type="text" formControlName="Description">
  </label><br>
  <button type="submit">Submit Application</button>
</form>


</div>