<form [formGroup]="personSection " (ngSubmit)="onSubmit();">
  <div class="form-group w-25">
    <label for="personContact">Contact</label>
    <input type="text" class="form-control" id="personContact" aria-describedby="Contact Help" placeholder="Enter Contact Number" formControlName="personContact">
    <small id="personContact" class="form-text text-danger"  *ngIf="personSection.controls.personContact.touched && !personSection.controls.personContact.valid">Number shoud be 10 digits..</small>
  </div>
   <div class="form-group w-25">
    <label for="personRecovered">Recovered : </label>
      <input type="radio" formControlName="personRecovered" value="yes" > Yes
      <input type="radio" formControlName="personRecovered" value="no" checked> No
  </div>
    <div class="form-group w-25">
    <label for="personDead">Dead</label>
      <input type="radio" formControlName="personDead" value="yes" > Yes
      <input type="radio" formControlName="personDead" value="no" checked> No
  </div>
  <button type="submit" class="btn btn-primary" [disabled] = 'personSection.invalid'>Submit</button>
</form>