<p>add-person works!</p>
<div>
<form [formGroup]="personSection" (ngSubmit)="onSubmit();">

  <label>
    Contact :
    <input type="text" formControlName="personContact">
        <div *ngIf="personSection.controls.personContact.touched && !personSection.controls.personContact.valid">
    Name should be required properly.
    </div>
  </label><br>
  <label>
    First Name :
    <input type="text" formControlName="personFirstName">
        <div *ngIf="personSection.controls.personFirstName.touched && !personSection.controls.personFirstName.valid">
    Name should be required properly.
    </div>
  </label><br>
    <label>
    Last Name : 
    <input type="text" formControlName="personLastName">
        <div *ngIf="personSection.controls.personLastName.touched && !personSection.controls.personLastName.valid">
    Name should be required properly.
    </div>
  </label><br>  
  <label>
    City :
    <input type="text" formControlName="personCity">
        <div *ngIf="personSection.controls.personCity.touched && !personSection.controls.personCity.valid">
    Name should be required properly.
    </div>
  </label><br>  
  <label>
    State :
    <input type="text" formControlName="personState">
        <div *ngIf="personSection.controls.personState.touched && !personSection.controls.personState.valid">
    Name should be required properly.
    </div>
  </label><br>  
  <label>
    Email :
    <input type="text" formControlName="personEmail">
        <div *ngIf="personSection.controls.personEmail.touched && !personSection.controls.personEmail.valid">
    Name should be required properly.
    </div>
  </label><br>
  <label>
      <div>
    Gender :
      <input type="radio" formControlName="personGender" value="male" checked> male
      <input type="radio" formControlName="personGender" value="female" > female
    </div>
  </label>
    <label>
    personInfectedDate :
    <input type="text" formControlName="personInfectionDate">
        <div *ngIf="personSection.controls.personInfectionDate.touched && !personSection.controls.personInfectionDate.valid">
    Name should be required properly.
    </div>
  </label><br>  <label>
    Age :
    <input type="text" formControlName="personAge">
        <div *ngIf="personSection.controls.personAge.touched && !personSection.controls.personAge.valid">
    Name should be required properly.
    </div>
  </label><br>  <label>
    FamilyMembers :
    <input type="text" formControlName="personFamilyMembers">
        <div *ngIf="personSection.controls.personFamilyMembers.touched && !personSection.controls.personFamilyMembers.valid">
    Name should be required properly.
    </div>
  </label><br>  <label>
      <div>
    Recovered :
      <input type="radio" formControlName="personRecovered" value="yes" > Yes
      <input type="radio" formControlName="personRecovered" value="no" checked> No
    </div> 
  </label><label>
    <div>
    Dead :
      <input type="radio" formControlName="personDead" value="yes" > Yes
      <input type="radio" formControlName="personDead" value="no" checked> No
    </div> 
  </label> <label>
      <div>
    TravelledAbroad :
      <input type="radio" formControlName="personTravelledAbroad" value="yes" > Yes
      <input type="radio" formControlName="personTravelledAbroad" value="no" checked> No
    </div> 
  </label><label>
    <div>
    TravelledInCountry :
      <input type="radio" formControlName="personTravelledInCountry" value="yes" > Yes
      <input type="radio" formControlName="personTravelledInCountry" value="no" checked> No
    </div> 
  </label>
  <label>
    Travelled Abroad Name :
    <input type="text" formControlName="personTravelledAbroadCityName">
        <div *ngIf="personSection.controls.personTravelledAbroadCityName.touched && !personSection.controls.personTravelledAbroadCityName.valid">
    Name should be required properly.
    </div>
  </label><br>
  <label>
    Travelled Country Name :
    <input type="text" formControlName="personTravelledInCountryCityName">
        <div *ngIf="personSection.controls.personTravelledInCountryCityName.touched && !personSection.controls.personTravelledInCountryCityName.valid">
    Name should be required properly.
    </div>
  </label><br>
  
  <button type="submit" [disabled] = 'personSection.invalid'>Submit Application</button>
</form>


</div>